@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
body {
    font-family: 'Play', sans-serif;
    background-color: #001c32;
  }

/* Disabling AOS delay on mobile device */
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
/* Section */
section {
  padding: 42px 0;
  overflow: hidden;
}

/* ziAbs main page section */
.a{
  color: #1aaede;
}
#ziabs {
    width: 100%;
    height: 100vh;
    background: url("../img/bg.png");
    position: relative;
    color: #f6f6f6;
  }
  
  #ziabs .ziabs-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
    margin-top: -66px;
  }
  
  #ziabs .ziabs-logo {
    margin-bottom: 30px;
  }
  @media (min-width: 1024px) {
    #ziabs {
      background-attachment: fixed;
    }
  }
  .welcome,.email a{
    margin: 0px;
    color: #f6f6f6;
    text-decoration: none;
    position: relative;
  }
.email a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #d90000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.6s ease-in-out;
}
.email a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
  #ziabs-main{
    background-color: #f6f6f6;
    color:#001c32;
  }
  .main-heading {
    text-align: center;
    padding-bottom: 15px;
  }
  .main-heading h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    /* margin-bottom: 10px; */
  }
  .experience{
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: 0px 0 25px rgba(0, 28, 50, 0.1);
  }
  .badge-ziabs{
    color: #f6f6f6;
    background-color: #1aaede;
    margin: 0 6px;
    border-radius: 0;
  }
  .work-details h5{
    margin-left: 2px;
  }
  .work-details p{
    margin: 0 2px;
  }
/* ------------------------------------------------------------------------------------- */
.footer-bottom {
    border-top: 1px solid #d90000;
    z-index: 2;
    position: relative;
    padding: 6px;
    text-align: center;
    opacity: 0.6;
    color: #f6f6f6;
  }
.copyright .c{
    color: #d90000;
}